.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 0;
  list-style-type: none;
}

.list-wrapper {
  background: #E0E0E0;
  margin-bottom: 10px;
  padding: 8px;
  flex-basis: 20%;
  min-width: 170px;
  border-radius: 2px;
}
